name: ci
on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: cache-node-modules-${{ hashFiles('yarn.lock') }}
      - name: yarn install
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          yarn install
  lint:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: cache-node-modules-${{ hashFiles('yarn.lock') }}
      - name: yarn lint
        run: yarn lint
  test:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: cache-node-modules-${{ hashFiles('yarn.lock') }}
      - name: test
        run: |
          yarn test
  build:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: cache-node-modules-${{ hashFiles('yarn.lock') }}
      - name: build
        run: |
          yarn build
      - name: Update manifest.json
        run: |
          npx dot-json@1 extensions/manifest.json version dummy
      - name: Archive
        run: |
          zip -r extension.zip ./extensions
      - name: Check Archive
        run: |
          rm -rf ./extensions
          unzip extension.zip
          ls -lR ./extensions
